<fxx-layout>
    <div class="m-8 lg:flex lg:justify-between lg:items-stretch">
        <div *ngIf="notReadyTickets$ | async as notReadyTickets" class="lg:w-1/4">
            <fxx-ticket-column title="Not Ready" [tickets]="notReadyTickets"></fxx-ticket-column>
        </div>
        <div *ngIf="readyTickets$ | async as readyTickets" class="lg:w-1/4">
            <fxx-ticket-column title="Ready" [tickets]="readyTickets"></fxx-ticket-column>
        </div>
        <div *ngIf="assignedTickets$ | async as assignedTickets" class="lg:w-1/4">
            <fxx-ticket-column title="In Progress" [tickets]="assignedTickets"></fxx-ticket-column>
        </div>
        <div *ngIf="doneTickets$ | async as doneTickets" class="lg:w-1/4">
            <fxx-ticket-column title="Done" [tickets]="doneTickets"></fxx-ticket-column>
        </div>
    </div>
</fxx-layout>
