<fxx-layout>
    <ng-container *ngIf="!(isFetchingMyTicket$ | async)">
        <div *ngIf="myTicket$ | async as myTicket" class="lg:flex">
            <div class="lg:flex-grow">
                <fxx-ticket [ticket]="myTicket"></fxx-ticket>
            </div>
            <div class="lg:min-w-1/3">
                <fxx-reject-panel></fxx-reject-panel>
            </div>
        </div>
        <ng-container *ngIf="!(myTicket$ | async)">
            <fxx-pickup-ticket
                [isNoTicketToPickUp]="isNoTicketToPickUp$ | async"
                (pickUpTicket)="pickUpTicket()"
            ></fxx-pickup-ticket>
        </ng-container>
    </ng-container>
</fxx-layout>
