<fxx-layout>
    <form *ngIf="ticket$ | async" class="py-4 px-8 m-8 bg-gray-400 rounded-lg flex flex-col" [formGroup]="formGroup" (submit)="onSave()">
        <h3 class="text-2xl mb-4">Edit Ticket</h3>
        <fxx-textfield
            label="Name"
            formControlName="name"
            [errorDictionary]="errorDictionary"
            [errors]="nameErrors"
        ></fxx-textfield>
        <fxx-textfield
            label="Price"
            type="number"
            formControlName="price"
            [errorDictionary]="errorDictionary"
            [errors]="priceErrors"
        ></fxx-textfield>
        <fxx-textfield
            label="Priority"
            type="number"
            formControlName="priority"
            [errorDictionary]="errorDictionary"
            [errors]="priorityErrors"
        ></fxx-textfield>
        <fxx-select
            label="Status"
            [options]="statuses"
            formControlName="status"
            [errorDictionary]="errorDictionary"
            [errors]="statusErrors"
        ></fxx-select>
        <fxx-textbox
            label="Description"
            formControlName="description"
            [errorDictionary]="errorDictionary"
            [errors]="descriptionErrors"
        ></fxx-textbox>
        <fxx-textbox
            label="It Must"
            formControlName="itMust"
            [errorDictionary]="errorDictionary"
            [errors]="itMustErrors"
        ></fxx-textbox>
        <button class="btn btn-primary mt-2 self-end" type="submit">Save</button>
    </form>
</fxx-layout>
